html {
	padding: 0;
	height: 100%;
	overflow-y: hidden;
	background-color:  #172D55; /* Backup */

}

body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	position: relative;
}

#particle-canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	z-index: 5;
	opacity: 1;
}

#content {
	/*top: 50%;
    transform: translateY(-50%);*/
    height: 90%;
    margin-top: 3%;
    /*margin-bottom: 10%;*/
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 95%;
	padding: 0.5em;
	    padding-top: 0;

	color: white;
	z-index: 500;
	position: absolute;
	text-align: center;
	/*margin-top: 1.5em;*/
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: solid 0.2em black;
	border-radius: 6em;
	background:  #172D55; /* Backup */
	background: -webkit-radial-gradient(rgba(23, 45, 85, 0.92) 70%, rgba(23, 45, 85, 0.6) 30%); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(rgba(23, 45, 85, 0.92) 70%, rgba(23, 45, 85, 0.6) 30%); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(rgba(23, 45, 85, 0.92) 70%, rgba(23, 45, 85, 0.6) 30%); /* For Firefox 3.6 to 15 */
	background: radial-gradient(rgba(23, 45, 85, 0.92) 70%, rgba(23, 45, 85, 0.6) 30%); /* Standard */

}

h1, h2, h3, h5 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 220%;
}

h4 {
	font-size: 150%;
}

#interests h4 {
	font-size: 190% !important;
}

h5 {
	font-size: 140%;
}

#main-title {
	font-size: 1050%;
	margin-top: 0;
}

h2 {
	font-size: 350%;
}

h3 {
	font-size: 200%;
	font-style: italic;
	margin-top: -0.33em;
}


#links {
	margin-top: 2em;
	font-size: 120%;
	margin-bottom: 0;
}

#github:hover, #resume:hover, #linkedin:hover {
	color: #74C7FF;
}

/* For mobile compatibility */
@media only screen and (max-width: 768px) {
	
	#main-title {
		font-size: 400% !important;
		margin-top: 0.3em;
	}

	#github, #resume, #linkedin {
		font-size: 50% !important;
	}
}